@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: gray;
  text-align: center;
  margin-top: 100px;
}
.card {
  background-color: gray;
  color: white;
}
#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;
}
#form-container {
  width: 60%;
  margin: auto;
  justify-content: center;
  color: white;

  #formModal {
    color: black;
  }
}

#vocab-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
}
#navbardrpdwn {
  color: white;
}
#google-auth{
  justify-content: flex-end;
}
